<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noshow.config.mybatis.mapper.memberMapper">
	
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO member(member_id, member_password) VALUES (#{memberId}, #{memberPassword})
	</insert>

</mapper>