<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>noshow</display-name>
	<welcome-file-list>
		<welcome-file>main.do</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>rootPath</param-name>
		<param-value>/TableScanner</param-value>
	</context-param>
	
	<!-- Spring Security 관련 설정은 Root ApplicationContext로 등록되있어야 한다. Spring Security 
		가 사용하는 bean들도 RootApplicationContext에 등록 되있어야 한다. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/mydomain/config/spring/security-context.xml 
						 classpath:com/mydomain/config/spring/model-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- DispatcherServlet 등록 - FrontController -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:com/mydomain/config/spring/web-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- EncodingFilter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- Spring Security 를 사용하려면 파일 업로드 필터를 먼저 등록해야한다. ~> Spring 4.0 부터 -->
	<!-- #################파일 업로드 필터 추가 #################-->
	<filter>
		<filter-name>springMultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springMultipartFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 
		Spring Security 에서 인증/권한 처리를 위한 Filter 추가. 
		filter-name은 반드시 springSecurityFilterChain 로 지정. 
		Spring Security 설정은 root application 에 해야함
	-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
</web-app>