html,body{
	height: auto;
	position: relative;
	height: 100%;
	width: 100%;
}
@font-face{
	font-family: 'HoonWhitecatR' ;
	src :url(/TableScanner/font/HoonWhitecatR.ttf);
}
@font-face{
	font-family: 'NanumGothic' ;
	src :url(/TableScanner/font/NanumGothic.ttf);
}
*{
	text-align: center;
	text-decoration: none;
	list-style: none;
	margin: 0 auto;		
	padding : 0;
	color: #000;
}	